/*maple字体*/
@font-face {
  font-family: 'maple';
  src: url('/font/maple.ttf') format('truetype');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'broadway';
  src: url('/font/broadway.ttf') format('truetype');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}