/*maple字体*/
@font-face {
  font-family: 'maple';
  src: url('../../font/MapleMono-NF-CN-Regular.ttf') format('truetype');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'maple';
  src: url('../../font/MapleMono-NF-CN-Italic.ttf') format('truetype');
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'maple';
  src: url('../../font/MapleMono-NF-CN-Bold.ttf') format('truetype');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'broadway';
  src: url('../../font/Broadway.ttf') format('truetype');
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}