/*maple字体*/
@font-face {
  font-family: 'maple';
  src: url('../../font/MapleMono-NF-CN-Thin.ttf') format('truetype');
  font-display: swap;
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'maple';
  src: url('../../font/MapleMono-NF-CN-ThinItalic.ttf') format('truetype');
  font-display: swap;
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'maple';
  src: url('../../font/MapleMono-NF-CN-ExtraLight.ttf') format('truetype');
  font-display: swap;
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'maple';
  src: url('../../font/MapleMono-NF-CN-ExtraLightItalic.ttf') format('truetype');
  font-display: swap;
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'maple';
  src: url('../../font/MapleMono-NF-CN-Light.ttf') format('truetype');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'maple';
  src: url('../../font/MapleMono-NF-CN-LightItalic.ttf') format('truetype');
  font-display: swap;
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'maple';
  src: url('/../../font/MapleMono-NF-CN-Regular.ttf') format('truetype');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'maple';
  src: url('../../font/MapleMono-NF-CN-Italic.ttf') format('truetype');
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'maple';
  src: url('../../font/MapleMono-NF-CN-Medium.ttf') format('truetype');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'maple';
  src: url('../../font/MapleMono-NF-CN-MediumItalic.ttf') format('truetype');
  font-display: swap;
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'maple';
  src: url('../../font/MapleMono-NF-CN-SemiBold.ttf') format('truetype');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'maple';
  src: url('../../font/MapleMono-NF-CN-SemiBoldItalic.ttf') format('truetype');
  font-display: swap;
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'maple';
  src: url('../../font/MapleMono-NF-CN-Bold.ttf') format('truetype');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'maple';
  src: url('../../font/MapleMono-NF-CN-BoldItalic.ttf') format('truetype');
  font-display: swap;
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'maple';
  src: url('../../font/MapleMono-NF-CN-ExtraBold.ttf') format('truetype');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'maple';
  src: url('../../font/MapleMono-NF-CN-ExtraBoldItalic.ttf') format('truetype');
  font-display: swap;
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'broadway';
  src: url('/../../font/Broadway.ttf') format('truetype');
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}